{% extends 'base.html' %} {% block meta %}
<title>Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock meta %} {% block content %} {% include 'navbar.html' %}
    {% if user.is_authenticated and user.is_pekerja %}
<div
  class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8"
>
  <div
    class="space-y-8 form-style bg-white mt-20 rounded-md border-gray-200 shadow-lg pb-10 w-full max-w-md"
  >
    <div class="px-10">
      <h2 class="mt-4 text-center text-3xl font-semibold text-black">
        Edit profile
      </h2>
      <form class="mt-8 space-y-6 px-10" method="POST">
        {% csrf_token %}
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm -space-y-px">
          {% for field in u_form %}
          <div class="{% if not forloop.first %} mt-5 {% endif %}">
            <label
              for="{{ field.id_for_label }}"
              class="mb-2 font-semibold text-black"
            >
              {{ field.label }}
            </label>
            <div class="relative mb-4">
              {{ field }}
              <div
                class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none"
              >
                {% if field.errors %}
                <svg
                  class="h-5 w-5 text-red-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                {% endif %}
              </div>
            </div>
            {% if field.errors %} {% for error in field.errors %}
            <p class="mt-1 text-sm text-red-600">{{ error }}</p>
            {% endfor %} {% endif %}
          </div>
          {% endfor %} {% for field in p_form %}
          <div class="{% if not forloop.first %} mt-5 {% endif %}">
            <label
              for="{{ field.id_for_label }}"
              class="mb-2 font-semibold text-black"
            >
              {{ field.label }}
            </label>
            <div class="relative mb-4">
              {{ field }}
              <div
                class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none"
              >
                {% if field.errors %}
                <svg
                  class="h-5 w-5 text-red-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                {% endif %}
              </div>
            </div>
            {% if field.errors %} {% for error in field.errors %}
            <p class="mt-1 text-sm text-red-600">{{ error }}</p>
            {% endfor %} {% endif %}
          </div>
          {% endfor %}
        </div>

        <div>
          <button
            type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#006BFF] py-2 rounded-lg text-white hover:bg-[#FFF100] hover:text-[#006BFF] hover:shadow-md hover:-translate-y-0.5 transition duration-500"
          >
            Simpan
          </button>
        </div>
      </form>

      {% if messages %}
      <div class="mt-4">
        {% for message in messages %}
        <div
          class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
          role="alert"
        >
          <span class="block sm:inline">{{ message }}</span>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% elif user.is_authenticated %}
<div
  class="flex align-center justify-center min-w-screen min-h-screen bg-gray-100"
>
  <div
    class="flex flex-col align-center justify-center min-w-screen min-h-screen"
  >
    <div class="shadow-lg p-10 border border-gray-200 rounded-md">
      <h1 class="text-3xl text-center font-semibold">Anda bukan pekerja!</h1>
      <p class="text-center font-regular mt-2">
        Anda tidak seharusnya mengakses url ini!
      </p>
      <div class="flex flex-col pt-5 text-center">
        <a
          href="{% url 'authentication:update_pengguna' %}"
          class="bg-bg-[#006BFF] py-2 rounded-lg text-white hover:bg-blue-800 hover:shadow-md hover:-translate-y-0.5 transition duration-500"
          ><button>Edit profil pengguna</button></a
        >
      </div>
    </div>
  </div>
</div>
{% else %}
<div
  class="flex align-center justify-center min-w-screen min-h-screen bg-gray-100"
>
  <div
    class="flex flex-col align-center justify-center min-w-screen min-h-screen"
  >
    <div class="shadow-lg p-10 border border-gray-200 rounded-md">
      <h1 class="text-3xl text-center font-semibold">You are not logged in!</h1>
      <p class="text-center font-regular mt-2">
        You must be logged in to be able to edit user!
      </p>
      <div class="flex flex-col pt-5 text-center">
        <a
          href="{% url 'authentication:logout' %}"
          class="bg-red-700 py-2 rounded-lg text-white hover:bg-red-900 hover:shadow-md hover:-translate-y-0.5 transition duration-500"
          ><button>Log Out</button></a
        >
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
