{% extends 'base.html' %} {% block meta %}
<title>Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div
  class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8"
>
  <div
    class="space-y-8 form-style bg-white mt-20 rounded-md border-gray-200 shadow-lg pb-10 w-full max-w-md"
  >
    <button
      class="mt-2 ml-2 text-white w-fit py-1 bg-[#006BFF] py-2 rounded-lg text-white hover:bg-[#FFF100] hover:text-[#006BFF] hover:shadow-md hover:-translate-y-0.5 transition duration-500"
    >
      <a
        class="mx-3 text-white text-xl"
        href="{% url 'authentication:register' %}"
        ><</a
      >
    </button>
    <div class="px-10">
      <h2 class="mt-4 text-center text-3xl font-semibold text-black">
        Buat akun pengguna
      </h2>
      <form id="registrationForm" class="mt-8 space-y-6 px-10" method="POST">
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm -space-y-px">
          <div class="form-group">
            <label
              for="first_name"
              class="mb-2 font-semibold text-black"
            >
              First Name
            </label>
            <div class="relative mb-4">
              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="John">
              <div
                class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none"
              >
              </div>
            </div>
          </div>
          <div class="form-group mt-5">
            <label
              for="last_name"
              class="mb-2 font-semibold text-black"
            >
              Last Name
            </label>
            <div class="relative mb-4">
              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Doe">
              <div
                class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none"
              >
              </div>
            </div>
          </div>
          <div class="form-group mt-5">
            <label
              for="gender"
              class="mb-2 font-semibold text-black"
            >
              Gender
            </label>
            <div class="relative mb-4">
              <select class="form-control" id="gender" name="gender">
                <option value="L">Laki-laki</option>
                <option value="P">Perempuan</option>
              </select>
              <div
                class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none"
              >
              </div>
            </div>
          </div>
          <div class="form-group mt-5">
            <label
              for="phone_number"
              class="mb-2 font-semibold text-black"
            >
              Phone Number
            </label>
            <div class="relative mb-4">
              <input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="08123456789">
              <div
                class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none"
              >
              </div>
            </div>
          </div>
          <div class="form-group mt-5">
            <label
              for="password"
              class="mb-2 font-semibold text-black"
            >
              Password
            </label>
            <div class="relative mb-4">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              <div
                class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none"
              >
              </div>
            </div>
          </div>
          <div class="form-group mt-5">
            <label
              for="birth_date"
              class="mb-2 font-semibold text-black"
            >
              Birth Date
            </label>
            <div class="relative mb-4">
              <input type="date" class="form-control" name="birth_date" id="birth_date">
              <div
                class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none"
              >
              </div>
            </div>
          </div>
          <div class="form-group mt-5">
            <label
              for="address"
              class="mb-2 font-semibold text-black"
            >
              Address
            </label>
            <div class="relative mb-4">
              <input type="text" class="form-control" name="address" id="address" placeholder="123 Main Street">
              <div
                class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none"
              >
              </div>
            </div>
          </div>
        </div>
        {% if messages %}
      <div class="mt-4">
        {% for message in messages %}
        <div
          class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
          role="alert"
        >
          <span class="block sm:inline">{{ message }}</span>
        </div>
        {% endfor %}
      </div>
      {% endif %}
        <div>
          <button
            type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#006BFF] py-2 rounded-lg text-white hover:bg-[#FFF100] hover:text-[#006BFF] hover:shadow-md hover:-translate-y-0.5 transition duration-500"
          >
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
