{% extends 'base.html' %} {% block meta %}
<title>Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock meta %} {% block content %} {% include 'navbar.html' %}
<div
  class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-2 lg:px-4"
>
  <div
    class="bg-white mt-20 rounded-lg border-gray-200 shadow-lg pb-10 w-full max-w-2xl"
  >
    <div class="px-10">
      <h2 class="my-6 text-center text-3xl font-semibold text-black">
        Hi, {{user.username}}
      </h2>
    </div>
    {% if user.is_pekerja %}
    <div>
      <div class="grid grid-cols-12 gap-2 px-12">
        <div class="col-span-12 flex justify-center">
          <img
            class="object-scale-down w-48 mb-4 p-2 border-4 rounded-lg border-gray-200"
            src="{{user.pekerja.image_url}}"
          />
        </div>

        <p class="col-span-3 text-start">Nama</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.username}}</p>
        <p class="col-span-3 text-start">Jenis Kelamin</p>
        <p class="col-span-1">:</p>
        {% if user.pekerja.gender == "L" %}
        <p class="col-span-8 text-start">Laki-laki</p>
        {% else %}
        <p class="col-span-8 text-start">Perempuan</p>
        {% endif %}
        <p class="col-span-3 text-start">No. HP</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.pekerja.phone_number}}</p>
        <p class="col-span-3 text-start">Tanggal Lahir</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.pekerja.birth_date}}</p>
        <p class="col-span-3 text-start">Alamat</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.pekerja.address}}</p>
        <p class="col-span-3 text-start">Saldo MyPay</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">-</p>
        <p class="col-span-3 text-start">Nama Bank</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.pekerja.bank}}</p>
        <p class="col-span-3 text-start">No Rekening</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.pekerja.bank_number}}</p>
        <p class="col-span-3 text-start">NPWP</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.pekerja.npwp}}</p>
        <p class="col-span-3 text-start">Rating</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">0</p>
        <p class="col-span-3 text-start">Pesanan Selesai</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">0</p>
        <a
          href="{% url 'authentication:update_pekerja' %}"
          class="mt-4 col-span-2"
        >
          <button class="bg-[#006BFF] hover:bg-blue-800 text-white py-2 px-4">
            Edit
          </button>
        </a>
      </div>
    </div>
    {% elif user.is_pengguna %}
    <div>
      <div class="grid grid-cols-12 gap-2 px-12">
        <p class="col-span-3 text-start">Nama</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.username}}</p>
        <p class="col-span-3 text-start">Level</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">-</p>
        <p class="col-span-3 text-start">Jenis Kelamin</p>
        <p class="col-span-1">:</p>
        {% if user.pengguna.gender == "Laki" %}
        <p class="col-span-8 text-start">Laki-laki</p>
        {% else %}
        <p class="col-span-8 text-start">Perempuan</p>
        {% endif %}
        <p class="col-span-3 text-start">No. HP</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.pengguna.phone_number}}</p>
        <p class="col-span-3 text-start">Tanggal Lahir</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.pengguna.birth_date}}</p>
        <p class="col-span-3 text-start">Alamat</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.pengguna.address}}</p>
        <p class="col-span-3 text-start">Saldo MyPay</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">-</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
