{% extends 'base.html' %} {% block meta %}
<title>Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock meta %} {% block content %} {% include 'navbar.html' %}
<div
  class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-2 lg:px-4"
>
  <div
    class="bg-white mt-20 rounded-lg border-gray-200 shadow-lg pb-10 w-full max-w-2xl"
  >
    <div class="px-10">
      <h2 class="my-6 text-center text-3xl font-semibold text-black">
        Hi, {{ user.name }}
      </h2>
    </div>
    <div>
      <div class="grid grid-cols-12 gap-2 px-12">
        {% if user.is_pekerja %}
        <div class="col-span-12 flex justify-center">
          <img
            class="object-scale-down w-48 mb-4 p-2 border-4 rounded-lg border-gray-200"
            src="{{user.additional_infos.3}}"
          />
        </div>
        {% endif %}
        <p class="col-span-3 text-start">Nama</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{ user.name }}</p>
        <p class="col-span-3 text-start">Jenis Kelamin</p>
        <p class="col-span-1">:</p>
        {% if user.gender == "L" %}
        <p class="col-span-8 text-start">Laki-laki</p>
        {% else %}
        <p class="col-span-8 text-start">Perempuan</p>
        {% endif %}
        <p class="col-span-3 text-start">No. HP</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.phone_number}}</p>
        <p class="col-span-3 text-start">Tanggal Lahir</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.birth_date}}</p>
        <p class="col-span-3 text-start">Alamat</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.address}}</p>
        <p class="col-span-3 text-start">Saldo MyPay</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">Rp{{ user.saldo }}</p>
        {% if user.is_pekerja %}
        <p class="col-span-3 text-start">Nama Bank</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.additional_infos.0}}</p>
        <p class="col-span-3 text-start">No Rekening</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.additional_infos.1}}</p>
        <p class="col-span-3 text-start">NPWP</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.additional_infos.2}}</p>
        <p class="col-span-3 text-start">Rating</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{user.additional_infos.4}}/5</p>
        <p class="col-span-3 text-start">Pesanan Selesai</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{ user.additional_infos.5 }}</p>
        {% elif user.is_pekerja == False %}
        <p class="col-span-3 text-start">Level</p>
        <p class="col-span-1">:</p>
        <p class="col-span-8 text-start">{{ user.additional_infos.0 }}</p>
        {% endif %} {% if user.is_pekerja %}
        <a
          href="{% url 'authentication:update_pekerja' %}"
          class="mt-4 col-span-2"
        >
          <button class="bg-[#006BFF] hover:bg-blue-800 text-white py-2 px-4">
            Edit
          </button>
        </a>
        {% elif user.is_pekerja == False %}
        <a
          href="{% url 'authentication:update_pengguna' %}"
          class="mt-4 col-span-2"
        >
          <button class="bg-[#006BFF] hover:bg-blue-800 text-white py-2 px-4">
            Edit
          </button>
        </a>
      </div>
    </div>
    {% else %}
    <div></div>
    {% endif %}
  </div>
</div>
{% endblock content %}
