{% extends 'base.html' %} {% block meta %}
<title>Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock meta %} {% block content %} {% include 'navbar.html' %}
{% if user.logged_in %}
<div
  class="flex align-center justify-center min-w-screen min-h-screen bg-gray-100"
>
  <div
    class="flex flex-col align-center justify-center min-w-screen min-h-screen"
  >
    <div class="shadow-lg p-10 border border-gray-200 rounded-md">
      <h1 class="text-3xl text-center font-semibold">
        You are already logged in!
      </h1>
      <p class="text-center font-regular mt-2">
        You must log out to register new user!
      </p>
      <div class="flex flex-col pt-5 text-center">
        <a
          href="{% url 'authentication:logout' %}"
          class="bg-red-700 py-2 rounded-lg text-white hover:bg-red-900 hover:shadow-md hover:-translate-y-0.5 transition duration-500"
          ><button>Log Out</button></a
        >
      </div>
    </div>
  </div>
</div>
{% else %}
<div
  class="flex align-center justify-center min-w-screen min-h-screen bg-gray-100"
>
  <div
    class="flex flex-col align-center justify-center min-w-screen min-h-screen"
  >
    <div class="shadow-lg p-10 border border-gray-200 rounded-md">
      <h1 class="text-3xl text-center font-semibold">Select your role</h1>
      <div class="flex flex-col pt-5 text-center">
        <a
          href="{% url 'authentication:pengguna_register' %}"
          class="bg-[#006BFF] py-2 rounded-lg text-white hover:bg-[#FFF100] hover:text-[#006BFF] hover:shadow-md hover:-translate-y-0.5 transition duration-500"
          ><button>Pengguna</button></a
        >
        <a
          href="{% url 'authentication:pekerja_register' %}"
          class="mt-2 bg-[#006BFF] py-2 rounded-lg text-white hover:bg-[#FFF100] hover:text-[#006BFF] hover:shadow-md hover:-translate-y-0.5 transition duration-500"
          ><button>Pekerja</button></a
        >
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
