{% load static %}
<script src="https://cdn.tailwindcss.com"></script>
<nav
  class="bg-[#006BFF] fixed w-full z-20 top-0 start-0 border-b border-gray-200"
>
  {% if user.is_authenticated %}
  <!-- logged in -->
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <div class="flex">
      <a
        href="{% url 'homepage' %}"
        class="flex items-center space-x-3 rtl:space-x-reverse"
      >
        <img
          src="{% static 'images/Logo.png' %}"
          class="h-12"
          alt="GOCLEAN Logo"
        />
      </a>
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 md:pl-10"
        id="navbar-sticky"
      >
        <ul
          class="flex flex-col p-4 md:p-0 mt-4 font-medium border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-[#006BFF]"
        >
          <li>
            <a
              href="{% url 'homepage' %}"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-white md:p-0 hover:text-[#FFF100]"
              aria-current="page"
              >Home</a
            >
          </li>
          <li>
            <a
              href="{% url 'mypay:view' %}"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-white md:p-0 hover:text-[#FFF100]"
              >MyPay</a
            >
          </li>
          {% if user.is_pengguna %}
          <li>
            <a
              href="{% url 'pemesanan_jasa:view_pemesanan' %}"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-white md:p-0 hover:text-[#FFF100]"
              >Pesanan</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-white md:p-0 hover:text-[#FFF100]"
              >Diskon</a
            >
          </li>
          {% endif %} {% if user.is_pekerja %}
          <li>
            <a
              href="{% url 'pekerjaan_jasa:pekerjaan_jasa' %}"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-white md:p-0 hover:text-[#FFF100]"
              >Pekerjaan</a
            >
          </li>
          <li>
            <a
              href="{% url 'pekerjaan_jasa:job-status' %}"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-white md:p-0 hover:text-[#FFF100]"
              >Status Pekerjaan</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <!-- <a href="{% url 'authentication:logout' %}">
        <button
          type="button"
          class="text-white bg-red-700 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center transition duration-300"
        >
          Logout
        </button>
      </a> -->

      <button
        id="dropdownDefaultButton"
        data-dropdown-toggle="dropdown"
        class="text-white bg-[#006BFF] hover:text-[#FFF100] font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 text-left transition duration-300"
        type="button"
      >
        <div class="flex flex-col justify-start align-center">
          <div>Hi, {{user.first_name}} {{user.last_name}}</div>
          <div class="text-xs">
            {% if user.is_pekerja %} Pekerja {% elif user.is_pengguna %}
            Pengguna {% endif %}
          </div>
        </div>

        <svg
          class="w-2.5 h-2.5 ms-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>

      <!-- Dropdown menu -->
      <div
        id="dropdown"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-44 dark:bg-gray-700"
      >
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownDefaultButton"
        >
          <li>
            <a
              href="{% url 'authentication:view_profile' %}"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Profile</a
            >
          </li>
          <li>
            <a
              href="{% url 'authentication:logout' %}"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white text-red-600"
              >Log Out</a
            >
          </li>
        </ul>
      </div>

      <button
        type="button"
        class="mobile-menu-button inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-[#c7bc00] dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 hover:bg-blue-700 transition duration-300"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
  </div>
  <!-- mobile -->
  <div class="mobile-menu hidden md:hidden px-4 w-full md:max-w-full">
    <div class="pt-2 pb-3 space-y-1 mx-auto">
      <a
        href="{% url 'homepage' %}"
        class="block text-center hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 mb-2"
      >
        Home
      </a>
      <a
        href="#"
        class="block text-center hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 mb-2"
      >
        MyPay
      </a>
      {% if user.is_pengguna %}
      <a
        href="{% url 'pemesanan_jasa:view_pemesanan' %}"
        class="block text-center hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 mb-2"
      >
        Pesanan
      </a>
      <a
        href="#"
        class="block text-center hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 mb-2"
      >
        Diskon
      </a>
      {% endif %} {% if user.is_pekerja %}
      <a
        href="#"
        class="block text-center hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 mb-2"
      >
        Pekerjaan
      </a>
      <a
        href="#"
        class="block text-center hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 mb-2"
      >
        Status Pekerjaan
      </a>
      {% endif %}
    </div>
  </div>
  {% else %}
  <!-- Not logged in -->
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <div class="flex">
      <a
        href="{% url 'not_logged_in' %}"
        class="flex items-center space-x-3 rtl:space-x-reverse"
      >
        <img
          src="{% static 'images/Logo.png' %}"
          class="h-12"
          alt="GOCLEAN Logo"
        />
      </a>
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 md:pl-10"
        id="navbar-sticky"
      >
        <ul
          class="flex flex-col p-4 md:p-0 mt-4 font-medium border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-[#006BFF]"
        >
          <li>
            <a
              href="{% url 'authentication:login' %}"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-white md:p-0 hover:text-[#FFF100]"
              aria-current="page"
              >Login</a
            >
          </li>
          <li>
            <a
              href="{% url 'authentication:register' %}"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-white md:p-0 hover:text-[#FFF100]"
              >Register</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="mobile-menu-button inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <!-- mobile -->
  <div class="mobile-menu hidden md:hidden px-4 w-full md:max-w-full">
    <div class="pt-2 pb-3 space-y-1 mx-auto">
      <a
        href="{% url 'authentication:login' %}"
        class="block text-center text-white hover:bg-blue-600 font-bold py-2 px-4 rounded transition duration-300 mb-2"
      >
        Login
      </a>
      <a
        href="{% url 'authentication:register' %}"
        class="block text-center hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300"
      >
        Register
      </a>
    </div>
    {% endif %}
  </div>
  <script>
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");

    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</nav>