{% extends 'base.html' %} {% load static %}
{% block content %}
{% include 'navbar.html' %}
<div class="grid h-screen place-items-center bg-gray-100">
  <div class="flex flex-col bg-white p-10 shadow-lg rounded-md">
    <h1 class="text-xl font-semibold">Oops! Anda belum login :(</h1>
    <div class="flex justify-center gap-2 mt-4">
      <a href="{% url 'authentication:login' %}">
        <div
          class="bg-[#006BFF] py-2 px-4 rounded-lg text-white hover:bg-[#FFF100] hover:text-[#006BFF] hover:shadow-md hover:-translate-y-0.5 transition duration-500"
        >
          Login
        </div>
      </a>
      <a href="{% url 'authentication:register' %}">
        <div
          class="bg-[#006BFF] py-2 px-4 rounded-lg text-white hover:bg-[#FFF100] hover:text-[#006BFF] hover:shadow-md hover:-translate-y-0.5 transition duration-500"
        >
          Register
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock content %}
